.case-paging {
  width: 100%;
  margin: 20px 0;
  text-align: center;
}

.case-paging ul {
  display: block;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.case-paging li {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  border-radius: 4px;
  margin: 0 3px;
  padding: 3px 12px;
  border: 1px solid #ccc;
  color: gray;
  cursor: pointer;
}

.case-paging li:hover {
  color: #238a34;
  border: 1px solid #238a34;
}

.case-paging li.paging-current {
  color: #238a34;
  border: 1px solid #238a34;
}
.case-paging li {
  padding: 3px 6px;
  font-size: 12px;}
